body {
  font-family: Helvetica Neue,Arial,sans-serif;
  margin: 0;
  padding: 0;
}

header .container {
  margin: 20px auto;
  width: 40%;
  padding: 40px;
}

header .container img {
  height: 228px;
  height: 80px;
  margin: 0 auto;
  margin-top: 40px;
  display: block;
}

header h1 {
  text-align: center;
  color: #7f8c8d;
  font-size: 20px;
  margin: 0;
  font-weight: 100;
}

.search input {
  display: block;
  margin: 0 auto;

  width: 50%;
  font-size: 20px;
  padding: 8px 0;
  text-align: left;
}

.search input[type="submit"] {
  margin-top: 20px;
  padding: 10px 5px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;

  background-color: #f2f2f2;
  color: #757575;

  text-decoration: none;
  text-align: center;

  font-size: 14px;
}

.search input[type="submit"]:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
}

footer {
  margin-top: 60px
}

footer p {
  font-size: 12px;
  text-align: center;
  color: #222;
}

footer p a {
  color: #222;
}
