body {
    font-family: Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

header {
  background-color: #333;
}

header .container {
  margin: 0 auto;
  width: 40%;
  margin-bottom: 40px;
  padding: 40px;
}

header h1 {
  text-align: center;
  color: #fff;
  font-size: 48px;
  margin: 0;
}

.search input {
  display: block;
  margin: 0 auto;

  width: 80%;
  font-size: 36px;
  text-align: center;
}

.search input[type="submit"] {
  margin-top: 20px;
  padding: 10px 5px;

  background-color: #333;
  color: #fff;
  border: 0;

  text-decoration: none;
}

footer {
  margin-top: 60px
}

footer p {
  text-align: center;
}
